<app-header titulo="Orden actual"></app-header>

<ion-content>
  <form>
    <ion-list>
      <ion-list-header>
        <h1> Datos de la orden </h1>
      </ion-list-header>
      <ion-item>
        <ion-label>        
          <h2> Nombre cliente </h2>
          <h3> David Achury </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>        
          <h2> Dirección </h2>
          <h3> carrera 74a # 11a - 40 </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>        
          <h2> Teléfono </h2>
          <h3> 3146727147 </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>        
          <h2> Comentario </h2>
        </ion-label>
        <ion-textarea placeholder="Agrega los comentarios de tu orden aquí..."></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit"> Cancelar </ion-button>
    <ion-button type="submit"> Finalizar </ion-button>
  </form>
</ion-content>
