<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Volver" defaultHref="/orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Tu Saldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large">Tu Saldo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="primary">
          <h2>Como funciona mi saldo?</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        
        <p>
          En Timugo, nos gusta que trabajes a tu ritmo, sin necesidad de cumplir largos horarios inproductivos, ya que podrias aprovechar ese tiempo 
          en cosas realmente facinantes.
        </p>
        <p>
          Es por eso que nosotros como aplicacion te pedimos solo el 30% del valor de tus servicios, y ademas de esto te damos puntos para canjearlos
          por incentivos desde nuestra app.
        </p>
        <p>
          Tu saldo es la forma en la que nos puedes hacer llegar ese 30% de cada servicio y la forma en la que funciona es realmente sencilla aqui te la explicamos:
        </p>
        <ul>
          <li>Cada vez que finalizas una orden, nosotros automaticamente te descontaremos el 30% del valor de tu orden y podras verlo en el historial de ordenes</li>
          <li>Cuando te quedes sin saldo, podras recargarlo en la seccion de recargar saldo en el menu lateral.</li>
          <li>Si tu saldo es menor a -10.000 no te llegaran mas ordenes a tu aplicacion, por lo que deberas recargar saldo para poder usando la app.</li>
          <li>Una vez validemos tu pago, te recargaremos tu saldo y podras seguir recibiendo ordenes normalmente</li>
        </ul>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
