<!--Personal ANDROID header  NO CUSTOM-->

<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--Menu component in conponents/menu-->
<app-menu></app-menu>
<!--content of the page id="principal" here and no in router-link -->

<ion-content  fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Desliza para refrescar"
      refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>  
  </ion-refresher>

  <!--Personal IOS header  NO CUSTOM-->
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">
        {{titulo}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="flagOrdenes" #lista  style="background-color: #f2f2f2;"> 
    <ion-item-sliding *ngFor="let orden of ordenes">
      <ion-card>
        <ion-item>
          <ion-label>
            <ion-text color="primary">
              <h3> {{orden.nameClient}}</h3>
            </ion-text>
            <ion-text>
              <h1>{{orden.price | currency}}</h1>    
            </ion-text>
            <ion-text color="primary">
              <h2>Servicios</h2>
            </ion-text>
            
            <ion-label *ngFor="let servicio of orden.services">
              <h4><ion-icon color="primary" slot="start" name="checkmark-outline"></ion-icon> {{servicio.nameService}} x {{servicio.quantity}} </h4>
            </ion-label>
          </ion-label>
          <ion-note slot="end">
            <ion-icon name="arrow-back-circle-outline"></ion-icon> {{orden.hourStart}}<br>
            Desliza
          </ion-note>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option (click)="tomarOrden(orden.id)">
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            Tomar
          </ion-item-option>
        </ion-item-options>
      </ion-card>
    </ion-item-sliding>
    
  </ion-list>
  

  <ion-text class="noOrders" *ngIf="flagNoOrdenes" color="primary">
    <h1> Desliza para buscar Ordenes</h1>
  </ion-text>

 
</ion-content>
<ion-footer class="ion-no-border">
  <app-slide-drawer></app-slide-drawer>
</ion-footer>

