<!--Personal ANDROID header  NO CUSTOM-->

<ion-header translucent="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--Menu component in conponents/menu-->
<app-menu></app-menu>
<!--content of the page id="principal" here and no in router-link -->

<ion-content fullscreen="true">

  <!--Personal IOS header  NO CUSTOM-->
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">
        {{titulo}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Desliza para refrescar"
      refreshingSpinner="circles"
      refreshingText="Buscando Ordenes...">
    </ion-refresher-content>  
  </ion-refresher>

  <ion-list *ngIf="flagOrdenes" #lista  style="background-color: #f9f8f8;" mode="ios" class="animated fadeIn fast"> 
    <ion-item-sliding *ngFor="let orden of ordenes">
      <ion-card mode="ios">
        <ion-item>
          <ion-label>
            <ion-text color="primary">
              <h3> {{orden.nameClient}}</h3>
            </ion-text>
            <ion-text>
              <h1>{{orden.price | currency}}</h1>    
            </ion-text>
            <ion-text color="primary">
              <h2>Servicios</h2>
            </ion-text>
            
            <ion-label *ngFor="let servicio of orden.services">
              <h4><ion-icon color="primary" slot="start" name="checkmark-outline"></ion-icon> {{servicio.nameService}} x {{servicio.quantity}} </h4>
            </ion-label>
          </ion-label>
          <ion-note slot="end">
            <ion-icon name="arrow-back-circle-outline"></ion-icon> {{orden.hourStart}}<br>
            Desliza
          </ion-note>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option (click)="tomarOrden(orden.id)">
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            Tomar
          </ion-item-option>
        </ion-item-options>
      </ion-card>
    </ion-item-sliding>
    
  </ion-list>
  <!-- <ion-list mode="ios" *ngIf="flagNoOrdenes">
    <ion-card mode="ios"  *ngFor="let item of [1,1,1,1]">
      <ion-item>
        <ion-label>
          <h3> <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
          <h1> <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h1>
          <h2> <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></h2>
          <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
          <h4><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h4>
        </ion-label>
        
      </ion-item>
    </ion-card>
    
  </ion-list> -->
  

  <ion-text class="noOrders" *ngIf="flagNoOrdenes" color="primary">
    <h1> Desliza para buscar Ordenes</h1>
  </ion-text>

 
</ion-content>
<!-- <app-slide-drawer>
</app-slide-drawer> -->

