<app-header titulo="App Barberos"> </app-header>

<ion-content class="login">

  <ion-img class="imagen" src="assets/logo.png"></ion-img>
  <form [formGroup]="formLogin" (ngSubmit)="login(formLogin)">

    <ion-list>

      <ion-item>
        <!-- <ion-label position="floating"> Número de celular </ion-label> -->
        <ion-input inputmode="numeric" max="10" formControlName="phone" maxlength="10" type="number" placeholder="Ingrese su teléfono">  </ion-input>  
      </ion-item>

    </ion-list>

    <ion-button [disabled]="formLogin.invalid" type="submit"> Iniciar sesión </ion-button>
  
  </form>

</ion-content>
